{{ define "extra-head" }}
<style>
  main img {
    max-width: 100%;
    max-height: 10rem;
  }

  main p {
    font-size: 1.2rem;
    line-height: 1.4em;
    margin: 1rem 0;
  }
</style>
{{ end }}

{{ define "extra-header" }}
<div class="bg-pattern bg-pattern-yellowish rounded-lg mx-3 mb-3">
  <div class="container py-3">
    <h1 class="d-inline-block bg-white-80 rounded-lg m-0 px-4 py-2">{{ .Title }}</h1>
  </div>
</div>
{{ end }}

{{ define "main" }}
{{ $options := "x200 Lanczos q90" }}
{{ $img1 := (resources.Get "imgs/rodolfo_love.jpg").Resize $options }}
{{ $img2 := (resources.Get "imgs/rodolfo_cycling.jpg").Resize $options }}
{{ $img3 := (resources.Get "imgs/rodolfo_redhat.jpg").Resize $options }}
<div class="container">
  <section class="row align-items-center">
    <div class="col-md-2 text-center">
      <img class="rounded" src="{{ $img1.RelPermalink }}" alt="Rodolfo Carvalho">
    </div>
    <div class="col">
      <p>Rodolfo is a <a href="https://en.wikipedia.org/wiki/Escola_Polit%C3%A9cnica_da_UFRJ">Computer and
        Information Engineer</a> <strong>passionate</strong> about software
        development and sharing of knowledge.</p>
      <p>His superpowers include insisting on <strong>high standards</strong>
        and <strong>diving deep</strong>.</p>
      <p>Born in <a href="https://en.wikipedia.org/wiki/Rio_de_Janeiro">Rio de
        Janeiro</a>, <strong>curious</strong> and <strong>fascinated</strong>
        by this immense world, he's happy and grateful for having lived in
        <a href="https://en.wikipedia.org/wiki/Lisbon">Lisbon</a>,
        <a href="https://en.wikipedia.org/wiki/Beijing">Beijing</a>,
        <a href="https://en.wikipedia.org/wiki/Krak%C3%B3w">Kraków</a>,
        <a href="https://en.wikipedia.org/wiki/Brno">Brno</a> and
        <a href="https://en.wikipedia.org/wiki/Portland,_Oregon">Portland</a>!
        May the list keep on growing!</p>
    </div>
  </section>
  <section class="row align-items-center">
    <div class="col-md-2 text-center">
      <img class="rounded" src="{{ $img2.RelPermalink }}" alt="Rodolfo cycling">
    </div>
    <div class="col">
      <p>Rodolfo likes sports, nature, exploring cities in unconventional ways
        and learning languages. Currently discovering what Portugal has to
        offer.</p>
      <p>He believes that <strong>continuous learning</strong> is a must and
        that technology is to be used for the betterment of the world. To that
        end, <a href="http://smallactsmanifesto.org/">small acts make great
        revolutions</a>.</p>
      <p>He values <strong>people</strong> and obsesses over customers, while
        appreciating <strong>correct</strong>, <strong>beautiful</strong> and
        <strong>well-tested</strong> code.</p>
    </div>
  </section>
  <section class="row align-items-center">
    <div class="col-md-2 text-center">
      <img class="rounded" src="{{ $img3.RelPermalink }}" alt="Rodolfo Carvalho">
    </div>
    <div class="col">
      <p>Polyglot, loves coding in
        <a href="https://golang.org/">Go</a>,
        <a href="https://www.python.org/">Python</a>,
        <a href="https://racket-lang.org/">Racket</a> or anything else to solve meaningful problems.
        And loves empowering people to solve their own problems by <a
        href="https://djangogirls.org/">coaching them to success</a>.
      <p>Before taking time off to travel, Rodolfo worked on <a
        href="https://aws.amazon.com/mediastore/">AWS Elemental MediaStore</a>,
        a storage service optimized for media that delivers predictable low
        latency. Prior to that, he worked on multiple parts of <a
        href="https://github.com/openshift/origin">OpenShift</a>, <a
        href="https://www.redhat.com/">Red Hat</a>'s open source container
        platform and <a href="https://kubernetes.io/">Kubernetes</a>
        distribution.</p>
      <p>He is often attending and giving talks in software community events.</p>
    </div>
  </section>
</div>
{{ end }}
