<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
  {{- block "title" . -}}
    {{ with .Title }}{{ . }} &middot; {{ end }}{{ .Site.Title }}
  {{- end -}}
  </title>

  <link rel="canonical" href="{{ .Permalink }}">

  <meta name="theme-color" content="#44a4be"><!-- toolbar color on Chrome for Android -->
  <meta name="mobile-web-app-capable" content="yes"><!-- fullscreen from homescreen Android -->
  <meta name="apple-mobile-web-app-capable" content="yes"><!-- fullscreen from homescreen iOS -->

  <link rel="icon" href="{{ "/favicon.ico" | relURL }}">
  <link rel="icon" sizes="192x192" href="{{ "/touch-icon.png" | relURL }}"><!-- homescreen icon Android -->
  <link rel="apple-touch-icon" href="{{ "/apple-touch-icon.png" | relURL }}"><!-- homescreen icon iOS -->

  {{ with .Description }}<meta name="description" content="{{ . }}">{{ end }}

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%7CUbuntu">
  {{ $css := resources.Get "css/custom.css" | minify | fingerprint "sha384" -}}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">

  {{ block "extra-head" . }}{{ end }}
</head>
<body>
<header>
{{ partial "nav.html" . }}
{{ block "extra-header" . }}{{ end }}
</header>
<main>
{{ block "main" . }}{{ end }}
</main>
</body>
</html>
