<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Rodolfo Henrique Carvalho's homepage">
  <meta name="author" content="Rodolfo Henrique Carvalho">
  <link rel="shortcut icon" href="favicon.ico">

  <title>
  {{- block "title" . -}}
    {{- .Site.Title -}}
  {{- end -}}
  </title>

  {{ block "extra-head" . }}
  {{ end }}
</head>
<body>

  {{ block "main" . }}
  {{ end }}

</body>
</html>
