{{ define "extra-head" }}
<style>
  .card,
  .card-header {
    border-color: #bce8f1;
  }

  .card-header {
    color: #31708f;
    background-color: #d9edf7;
  }
</style>
{{ end }}

{{ define "extra-header" }}
<div class="bg-pattern bg-pattern-greenish rounded-lg mx-3 mb-3">
  <div class="container py-3">
    <h1 class="d-inline-block bg-white-80 rounded-lg m-0 px-4 py-2">{{ .Title }}</h1>
  </div>
</div>
<div class="container">
  <h2 class="h6 my-3 text-center">A selected list of <strong>personal projects</strong></h2>
</div>
{{ end }}

{{ define "main" }}
{{ $projects := sort (($.Site.GetPage "/projects").Resources.ByType "page") "Params.weight" "desc" -}}
<div class="container">
  <div class="row">
  {{ range $projects }}
    {{ partial "project-summary.html" . }}
  {{ end }}
  </div>
</div>
{{ end }}
