{{- $projectCount := len . -}}
{{- $columnCount := 2 -}}

<div class="panel-heading">
  <h3 class="panel-title">A selected list of <strong>personal projects</strong></h3>
</div>
<div class="panel-body">
{{ range $i, $p := . -}}
  {{- $i1 := add $i 1 -}}
  {{- $startRow := modBool $i $columnCount -}}
  {{- $endRow := or (modBool $i1 $columnCount) (eq $i1 $projectCount) -}}

  {{ if $startRow -}}
  <div class="row">
  {{- end }}
    {{ partial "project-summary.html" $p -}}
  {{ if $endRow -}}
  </div>
  {{- end }}
{{ end -}}
</div>
