{{ define "title" }}Page not found - {{ .Site.Title }}{{ end }}

{{ define "extra-head" }}
<style>
  @media (min-width: 992px) {
    .img-404 {
       background-image: url(https://source.unsplash.com/featured/1110x400?happy);
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
    }
  }
</style>
{{ end }}

{{ define "main" }}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="text-muted">404 Not Found</h1>
    <div class="d-lg-none">
      <p class="lead">There is nothing here...</p>
      <p>Check out <a href="{{ "/" | relURL }}">my homepage</a> instead.</p>
    </div>
    <div class="d-none d-lg-block">
      <p class="lead">There is nothing here but this photo...</p>
      <div class="img-404 my-3" style="height: 400px"></div>
      <p>Enjoyed? Credits go to <a href="https://unsplash.com/" target="_blank">Unsplash</a>.
        Check out <a href="{{ "/" | relURL }}">my homepage</a> when you're ready.</p>
    </div>
  </div>
</div>
{{ end }}
