{{ define "extra-head" -}}

  {{ `<!-- Compiled and minified CSS -->` | safeHTML }}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  {{ `<!-- more icons -->` | safeHTML }}
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu" rel="stylesheet">

  {{ `<!-- Custom styles for this template -->` | safeHTML }}
  <link href="custom.css" rel="stylesheet">

{{- end }}

{{ define "main" -}}
{{- $projects := sort (($.Site.GetPage "/projects").Resources.ByType "page") "Params.weight" "desc" -}}

  {{ `<!-- Static navbar -->` | safeHTML }}
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Rodolfo Carvalho</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="http://blog.rodolfocarvalho.net"><span class="glyphicon glyphicon-edit"></span> Blog</a></li>
          <li><a href="#about"><span class="glyphicon glyphicon-user"></span> About</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span> Projects <b class="caret"></b></a>
            <ul class="dropdown-menu">
              {{ range $projects -}}
                <li><a href="#{{- partial "project-anchor.html" . | safeURL -}}">{{ .Title }}</a></li>
              {{ end }}
            </ul>
          </li>
        </ul>
      </div>{{ `<!--/.nav-collapse -->` | safeHTML }}
    </div>
  </div>

  <div class="container">

    <div id="links" class="row">
      <div class="col-sm-2">
        <small class="text-muted">Code</small><br>
        <ul class="list-inline">
          <li><a href="https://github.com/rhcarvalho"><i class="icon-github-sign"></i> GitHub</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <small class="text-muted">Talks</small><br>
        <ul class="list-inline">
          <li><a href="https://www.slideshare.net/rhcarvalho"><i class="icon-desktop"></i> Slideshare</a></li>
          <li><a href="https://github.com/rhcarvalho/talks"><i class="icon-comment"></i> Talks@GitHub</a></li>
        </ul>
      </div>
      <div class="col-sm-6">
        <small class="text-muted">Social</small><br>
        <ul class="list-inline">
          <li><a href="https://www.linkedin.com/in/rhcarvalho/"><i class="icon-linkedin-sign"></i> LinkedIn</a></li>
          <li><a href="https://www.facebook.com/rodolfocarvalho.net"><i class="icon-facebook-sign"></i> Facebook</a></li>
          <li><a href="https://twitter.com/201"><i class="icon-twitter-sign"></i> Twitter</a></li>
        </ul>
      </div>
    </div>

    <div id="about" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">About</h3>
      </div>
      <div class="panel-body">
        <p class="pull-left"><img src="imgs/rodolfo_carvalho.jpg" alt="Rodolfo Carvalho" class="img-responsive img-thumbnail"></p>
        <p>Rodolfo is a <a href="http://www.poli.ufrj.br/">Computer and
          Information Engineer</a> <strong>passionate</strong> about software
          development and sharing of knowledge.</p>
        <p>His superpowers include insisting on <strong>high standards</strong>
          and <strong>diving deep</strong>.</p>
        <p>Born in <a href="https://en.wikipedia.org/wiki/Rio_de_Janeiro">Rio de
          Janeiro</a>, <strong>curious</strong> and <strong>fascinated</strong>
          by this immense world, he's happy and grateful for having lived in
          <a href="https://en.wikipedia.org/wiki/Lisbon">Lisbon</a>,
          <a href="https://en.wikipedia.org/wiki/Beijing">Beijing</a>,
          <a href="https://en.wikipedia.org/wiki/Krak%C3%B3w">Kraków</a>,
          <a href="https://en.wikipedia.org/wiki/Brno">Brno</a> and
          <a href="https://en.wikipedia.org/wiki/Portland,_Oregon">Portland</a>!<br>
          Let the list keep growing!</p>
        <hr>
        <p class="pull-left"><img src="imgs/cycling.jpg" alt="Rodolfo cycling" class="img-responsive img-thumbnail"></p>
        <p>Rodolfo likes sports, nature, exploring cities in unconventional ways
          and learning languages. Currently enjoying Oregon's amazing bicycle
          rides and hikes with his loved wife.</p>
        <p>He believes that <strong>continuous learning</strong> is a must and
          that technology is to be used for the betterment of the world. To that
          end, <a href="http://smallactsmanifesto.org/">small acts make great
          revolutions</a>.</p>
        <p>He values <strong>people</strong> and obsesses over customers, while
          appreciating <strong>correct</strong>, <strong>beautiful</strong> and
          <strong>well-tested</strong> code.</p>
        <hr>
        <p class="pull-left"><img src="imgs/rodolfo_redhat.jpg" alt="Rodolfo Carvalho" class="img-responsive img-thumbnail"></p>
        <p>Polyglot, loves coding in
          <a href="https://golang.org/">Go</a>,
          <a href="https://python.org/">Python</a>,
          <a href="https://racket-lang.org/">Racket</a> or anything else to solve meaningful problems.
          Distributed systems and containers? <a href="https://github.com/openshift/origin">Check</a>.
          Automation with <a href="https://www.ansible.com/">Ansible</a>? <a href="https://github.com/openshift/openshift-ansible">Check</a>.
          Large global-scale SaaS? <a href="https://aws.amazon.com/mediastore/">Check</a>.</p>
        <p>Rodolfo works on AWS Elemental MediaStore, a storage service
          optimized for media that delivers predictable low latency.
          Prior to that, he worked on multiple parts of OpenShift, Red Hat's
          open source container platform and Kubernetes distribution.</p>
        <p>He is often attending and giving talks in software community events.</p>
      </div>
    </div>

    {{ partial "projects-box.html" $projects }}

  </div> {{ `<!-- /container -->` | safeHTML }}


  {{ `<!-- Bootstrap core JavaScript` | safeHTML }}
  {{ `================================================== -->` | safeHTML }}
  {{ `<!-- Placed at the end of the document so the pages load faster -->` | safeHTML }}
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  {{ `<!-- Compiled and minified JavaScript -->` | safeHTML }}
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-6235379-6', 'rodolfocarvalho.net');
    ga('send', 'pageview', {'anonymizeIp': true});

  </script>

{{- end }}
