body {
  padding-bottom: 300px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.panel-default {
  border-color: #468;
}

.panel-default > .panel-heading {
  color: #fff;
  background-color: #357;
  border-color: #468;
}

#links {
  margin-bottom: 20px;
}

#about .panel-body {
  font-size: 1.7em;
  line-height: 1.6em;
}

#about .panel-body p {
  margin: 0 0 0.8em;
}

#about .panel-body img {
  width: 210px;
  height: 280px;
}

#about .panel-body .pull-left {
  margin-right: 15px;
}

#about .panel-body .pull-right {
  margin-left: 15px;
}

#about .panel-body hr {
  clear: both;
}

@media (max-width: 767px) {
  #about .panel-body .pull-left, #about .panel-body .pull-right {
    float: none !important;
    text-align: center;
  }
}

#projects .row .panel-body p {
  font-size: 1.3em;
}

#navbar-state:checked ~ .collapse {
  display: block;
}
