body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#navbar-state:checked ~ .collapse {
  display: block;
}
