{{ $formName := printf "%s::%s::%.6s" .Section .Slug .File.UniqueID }}
<div class="card">
  <h5 class="card-header">Like the content? Drop me a note!</h5>
  <div class="card-body">
    <form name="{{ $formName }}" data-netlify="true" method="POST" action="{{ .RelPermalink }}">
      <div class="form-group">
        <label class="sr-only" for="form-feedback">Feedback</label>
        <textarea class="form-control" id="form-feedback" name="feedback" rows="3" placeholder="Feedback" required></textarea>
      </div>
      <div class="form-row">
        <div class="form-group col-md">
          <label class="sr-only" for="form-name">Name (optional)</label>
          <input class="form-control" id="form-name" name="name" type="text" placeholder="Name (optional)">
        </div>
        <div class="form-group col-md">
          <label class="sr-only" for="form-email">Email (optional)</label>
          <input class="form-control" id="form-email" name="email" type="email" aria-describedby="form-email-help" placeholder="Email (optional)">
          <small class="form-text text-muted" id="form-email-help">I'll never share your email with anyone else, and may only use it to contact you directly regarding your feedback.</small>
        </div>
      </div>
      <button class="btn btn-outline-secondary btn-lg" type="submit"><i class="far fa-paper-plane mr-1"></i>Send</button>
    </form>
  </div>
</div>
<script>
  (function (d, s) {
    if (d.referrer == d.URL) {
      var f = d.forms['{{ $formName }}'],
          e = d.createElement('div');
      e[s]('class', 'alert alert-success');
      e[s]('role', 'alert');
      e.appendChild(d.createTextNode('Thanks for sharing your thoughts!'));
      f.parentNode.insertBefore(e, f);
      e.scrollIntoView();
    }
  })(document, 'setAttribute');
</script>
